    @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: "Red Hat Display", sans-serif;
        background-color: #FAF5F0;
        width: 100vw;
        height: 100vh;
        position: relative;
    }
    
    .container {
        width: 85vw;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .container .main {
        margin: 2rem;
        width: fit-content;
    }
    
    .container .main h2 {
        font-size: 2.5rem;
        font-weight: 800;
        margin: 0.5rem 0.5rem 1rem 0.5rem;
    }
    
    .container .menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 75%;
        text-align: center;
        gap: 0.5rem;
    }
    
    .container .menu img {
        width: 16rem;
        height: 16rem;
        border-radius: 1rem;
    }
    
    .container .menu .menu-item {
        position: relative;
    }
    
    .container .menu .add-item {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        width: 60%;
        margin: 0 auto;
        border: 2px solid #C44F1C;
        border-radius: 2rem;
        padding: 0.5rem 1.2rem;
        background-color: white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 14.5rem;
    }
    /*.container .menu .add-item:hover {
    border: 2px solid white;
    background-color: #C44F1C;
    color: white;
}*/
    
    .container .menu .add-count {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.2rem;
        width: 60%;
        margin: 0 auto;
        border: 2px solid #C44F1C;
        border-radius: 2rem;
        padding: 0.5rem;
        background-color: #C44F1C;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 14.5rem;
        color: white;
        font-size: 1rem;
        display: none;
    }
    
    .container .menu .add-count span:not(.number) {
        border: 1px solid white;
        font-size: 0.9rem;
        border-radius: 50%;
        padding: 0.2rem;
    }
    
    .container .menu .add-item span {
        color: #C44F1C;
        font-size: 1.2rem;
    }
    
    .container .menu .add-to-cart h4 {
        font-size: 0.8rem;
    }
    
    .container .menu .product-info {
        text-align: left;
    }
    
    .text-muted {
        color: #7d8da1;
        font-size: 0.8rem;
    }
    
    .main .product-info {
        margin: 1.8rem 0;
    }
    
    .main .product-info h3 {
        font-size: 1.2rem;
        font-weight: 800;
        margin: 0.5rem 0;
    }
    
    .main .product-info h4 {
        font-size: 0.95rem;
        font-weight: 800;
        color: #C44F1C;
    }
    
    .container .right {
        background-color: white;
        margin-top: 2.5rem;
        padding: 2rem;
        width: fit-content;
        border-radius: 1rem;
        width: 30%;
    }
    
    .end {
        display: none;
    }
    
    .container .right h2 {
        color: #C44F1C;
        font-weight: 800;
    }
    
    .container .right .cart-info {
        text-align: center;
    }
    
    .container .right .cart-info .text-muted {
        font-size: 1rem;
    }
    
    .container .right .cart-info * {
        margin: 0.7rem 0;
    }
    
    .main .menu .active img {
        border: 3px solid #C44F1C;
    }
    /************************************************************** order stat *****************************************************/
    
    .order-confirmation {
        background-color: white;
        width: fit-content;
        margin: 0 auto;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        border-radius: 1rem;
        display: none;
    }
    
    .order-confirmation img {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 0.7rem;
    }
    
    .order-confirmation span {
        color: green;
        border: 2.5px solid green;
        border-radius: 50%;
    }
    
    .order-confirmation h2 {
        font-weight: 800;
        font-size: 2rem;
    }
    
    .order-confirmation .confirm-info {
        margin: 1rem 0;
    }
    
    .order-confirmation .order {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.1rem;
        background-color: #FAF5F0;
        border-radius: 1rem;
    }
    
    .order-confirmation .order .order-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
        border-bottom: 2px solid #EFEFEF;
        margin: 0 1.5rem;
        padding: 0.8rem 0;
    }
    
    .order-confirmation .left {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .order-confirmation .check {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    
    .danger {
        color: #C44F1C;
        font-weight: 700;
    }
    
    .order-confirmation .right {
        font-weight: 700;
    }
    
    button {
        width: 100%;
        margin: 1rem 0;
        background-color: #C44F1C;
        outline: none;
        border: #C44F1C 1px solid;
        padding: 1rem;
        border-radius: 1.5rem;
        color: white;
        font-weight: 600;
        font-size: 1rem;
    }
    
    .order-confirmation .total h3 {
        font-weight: 700;
    }
    
    .order-confirmation .total p {
        font-size: 0.9rem;
        font-weight: 550;
    }
    
    .cart-items {
        display: grid;
        grid-template-columns: 1fr;
        /*gap: 1rem;*/
        margin-top: 1rem;
    }
    
    .cart-item .item-check {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.8rem;
    }
    
    .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin: 0 10px;
    }
    
    .cart-item:not(.total,
    .iconed) {
        border-bottom: 1.5px solid #7d8da1;
    }
    
    .iconed {
        justify-content: center;
        gap: 0.4rem;
        background-color: #FAF5F0;
        margin: 1rem 0 0 0;
        border-radius: 1rem;
    }
    
    .cart-item span {
        color: #7d8da1;
        border: 2px solid #7d8da1;
        border-radius: 50%;
        font-size: 1rem;
    }
    
    .cart-left h4 {
        margin: 0.5rem 0;
    }
    
    @media screen and (max-width: 1200px) {
        .container {
            width: 95vw;
        }
        .container .menu {
            gap: 1rem;
        }
        .container .menu img {
            width: 12rem;
            height: 12rem;
            border-radius: 1rem;
        }
        .container .menu .add-item {
            width: 70%;
            top: 10.5rem;
        }
        .container .menu .add-count {
            width: 70%;
            top: 10.5rem;
        }
        .container .menu .menu-item h3 {
            font-size: 0.95rem;
        }
        .container .right {
            flex-grow: 1;
        }
    }
    
    @media screen and (max-width: 768px) {
        .container {
            flex-direction: column;
            width: 80vw;
        }
        .container .menu {
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
            gap: 0.5rem;
            margin: 0 auto;
        }
        .container .menu .menu-item {
            position: relative;
            text-align: center;
        }
        .container .menu img {
            width: 28rem;
            height: 20rem;
            border-radius: 1rem;
        }
        .container .menu .add-item {
            width: 50%;
            top: 18.5rem;
        }
        .container .menu .add-count {
            width: 50%;
            top: 18.5rem;
        }
        .container .main {
            width: 100%;
            margin: 0 auto;
            position: relative;
        }
        .container .main h2 {
            font-size: 3.5rem;
            margin: 0.5rem 0.5rem 1rem 5.3rem;
        }
        .container .menu .menu-item h3 {
            font-size: 1.5rem;
        }
        .container .right {
            flex-grow: 1;
            width: 100%;
            margin-bottom: 2rem;
        }
    }
    
    @media screen and (max-width: 426px) {
        .container .menu img {
            width: 10rem;
            height: 10rem;
            border-radius: 1rem;
        }
        .container .menu .add-item {
            width: 50%;
            top: 8.5rem;
            padding: 0.5rem 0.5rem;
        }
        .container .menu .add-count {
            width: 50%;
            top: 8.5rem;
        }
        .container .menu .add-to-cart h4 {
            font-size: 0.6rem;
        }
        .container .main h2 {
            font-size: 2.5rem;
            display: block;
            background-color: #EFEFEF;
            width: 100%;
            margin: 0;
            text-align: center;
        }
        .container .menu .menu-item h3 {
            font-size: 1.1rem;
        }
        .container .menu .menu-item h4 {
            font-size: 0.6rem;
        }
        .container .menu .product-info {
            text-align: center;
        }
        .order-confirmation img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 0.7rem;
        }
        .order-confirmation h2 {
            font-weight: 800;
            font-size: 1.4rem;
        }
        .order-confirmation .middle {
            font-size: 0.9rem;
        }
        .order-confirmation .order .order-item {
            gap: 2rem;
        }
        .order-confirmation .right {
            font-size: 0.9rem;
        }
        .cart-left h4 {
            font-size: 0.9rem;
        }
        .cart-left p {
            font-size: 0.7rem;
        }
        .cart-item {
            padding: 0.5rem;
        }
        .iconed {
            justify-content: center;
            gap: 0.2rem;
            text-align: center;
        }
        .iconed p {
            font-size: 0.8rem;
        }
        ;
    }